<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset=utf-8>
    <title>{{ page_title }}</title>
    {% block base_css %}
        <link rel="stylesheet" href="{{ assets_folder }}/css/bootstrap.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ assets_folder }}/css/bootstrap-theme.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ assets_folder }}/css/dataTables.bootstrap.min.css" type="text/css" media="all" />
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block base_js%}
        <script src="{{ assets_folder }}/js/jquery-1.11.3.min.js"></script>
        <script src="{{ assets_folder }}/js/jquery.dataTables.min.js"></script>
        <script src="{{ assets_folder }}/js/dataTables.bootstrap.min.js"></script>
    {% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block body %}
            <h1>{{ content_title }}</h1>
            {{ main_content|raw }}
        {% endblock %}
    </div>
</body>
</html>
