{% extends 'default.twig' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ assets_folder }}/css/main.css" type="text/css" media="all" />
{% endblock %}

{% block extra_js %}
    <script src="{{ assets_folder }}/js/main.js"></script>
{% endblock %}

{% block body %}
    {% include 'selectors.twig' %}
    {% if supported == false %}
        <h1>Unsupported locale</h1>
        <p>The requested locale is not supported.</p>
    {% else %}
        <table id="main_table" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>%</th>
                    <th>Type</th>
                    <th><abbr title="Translated strings">Tran.</abbr></th>
                    <th><abbr title="Untranslated strings">Untr.</abbr></th>
                    <th><abbr title="Identical strings">Iden.</abbr></th>
                    <th><abbr title="Missing strings">Miss.</abbr></th>
                    <th>Fuzzy</th>
                    <th>Total</th>
                    <th>Errors</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                    <tr class="{{ row.class }}" style="{{ row.style }}">
                        <th>{{ row.product_data.name }}<a href="{{ row.repository_url }}" class="repository_link" title="View source repository">{{ row.repository_type }}</a></th>
                        <td class="number">{{ row.product_data.percentage }}</td>
                        <td class="source_type">
                            {{ row.product_data.source_type }}
                            {% if row.product_data.source_type == 'xliff' %}
                                <a href="#xliff_notes" title="See notes"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                            {% endif %}
                        </td>
                        <td class="number">{{ row.product_data.translated }}</td>
                        {% if row.product_data.source_type in ['ftl', 'properties', 'xliff'] and row.product_data.untranslated > 0 %}
                            <td class="number">
                                <a href="views/product_diff.php?product={{ row.product_id }}&amp;locale={{ requested_locale }}" title="Show untranslated strings">{{ row.product_data.untranslated }}</a>
                            </td>
                        {% else %}
                            <td class="number">{{ row.product_data.untranslated }}</td>
                        {% endif %}
                        <td class="number">{{ row.product_data.identical }}</td>
                        {% if row.product_data.source_type in ['ftl', 'properties', 'xliff'] and row.product_data.missing > 0 %}
                            <td class="number">
                                <a href="views/product_diff.php?product={{ row.product_id }}&amp;locale={{ requested_locale }}" title="Show missing and obsolete strings">{{ row.product_data.missing }}</a>
                            </td>
                        {% else %}
                            <td class="number">{{ row.product_data.missing }}</td>
                        {% endif %}
                        <td class="number">{{ row.product_data.fuzzy }}</td>
                        <td class="number">{{ row.product_data.total }}</td>
                        <td>{{ row.product_data.error_message }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <p class="lastupdate">Last update: {{ last_update }}</p>
    {% if xliff_note %}
        {% include 'xliff_note.html' %}
    {% endif %}
    <p class="github_link">Code hosted on <a href="https://github.com/mozilla-l10n/webstatus/">GitHub</a>. Please open a <a href="https://github.com/mozilla-l10n/webstatus/issues">new issue</a> to report errors.</p>
{% endblock %}
